<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      About This App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col offset-lg="2" size-lg="8">
        <ion-card >
          <ion-card-header class="ion-text-center">
            <ion-card-title>Hi There!</ion-card-title>
            <ion-card-subtitle>Hungry for Tech News?</ion-card-subtitle>
            <hr>
            <h3>Worry not, We've got you covered!</h3>
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            We'll keep you notified with the latest Tech news. So, you'd never miss an update.
            The app will provide you with top Tech news from TechCrunch - The Biggest Tech news source!
            You can explore more news here!
            <br><hr>
            <a href="https://techcrunch.com/" target="_blank">
              <ion-button >
                <ion-icon slot="icon-only" name="bulb-outline">
                </ion-icon>
               </ion-button>
            </a>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
